.Nav {
    padding: 0 50px;
    height: 10vh;
}

.flex-row-align {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li {
    list-style: none;
    text-align: center;
    margin: 0 20px;
}


a {
    border-radius: 30px;
    height: 30px;
    width: max-content;
    text-decoration: none;
    color: black;

    display: flex;
    align-items: center;
    margin: 0 10px;

    transition: all 300ms;
}

a:hover {
    border-radius: 30px;
    color: white;
    cursor: pointer;
    background: green;
}

.no-hover:hover {
    background-color: inherit;
    color: inherit;
}

.link-active {
    border-radius: 30px;
    color: white;
    cursor: pointer;
    background: green;
}