.HomeRegime {
    height: 60vh;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.left-div {
    background-color: orange;
    height: 100%;
    width: 20%;
    border-radius: 20px;
}

.right-div {
    width: 78%;
    height: 100%;
    position: relative;
    /* border: solid ;*/
}

.right-div > div:nth-child(1) {
    /* border: solid red;*/
    width: 84%;
    text-align: justify;
    padding: 0 30px;
    text-indent: 15px;
}

.right-div > div:nth-child(1) p {
    color: rgb(48, 47, 47);
}

.right-div div img {
    /* border: solid red;*/
    height: 100px;
    width: 100px;
}

.right-div_cards {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 50%;
    /* border: solid red;*/
    position: absolute;
    bottom: 0;
}

.card {
    width: 40%;
    height: 100%;
    background: rgb(86, 160, 86);
    /* border: solid red;*/
    text-align: center;
    border-radius: 20px;
    padding: 0 20px;
}

.card h2,
.card p {
    text-align: justify;
}

.right-div_cards .card:nth-child(2) {
    background-color: white;
}