/* Home body header */
.title {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title>p {
    width: 50%;
    color: grey;
    line-height: 20px;
    text-align: center;
}

/* End body header */


/* Home body section */
.food-section {
    /* border: solid black 1px; */
    min-height: 100vh;
}

.homefood-section1,
.homefood-section2 {
    padding: 0 50px;
    height: 80vh;
    /* border: solid rgb(0, 247, 0) 1px; */
    position: relative;
    margin: 40px 0 ;
}

/* .homefood-section1{
    border-radius: 
} */

.home-card {
    position: absolute;
    border-radius: 20px;
    box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.301);
}

.back-color1,
.back-color2 {
    background-color: rgba(0, 128, 0, 0.753);
    right: 0;
    height: 100%;
    width: 60%;
    border-radius: 0 0 0 20px;
    z-index: 2;
}

.back-color1 {
    /* right: inherit;
    left: 0; */
    border-radius: 0 0 0 0;

}

.second-back1,
.second-back2 {
    background-color: #3c3e5d;
    width: 40%;
    height: 80%;
    right: 25%;
    top: 15%;
    z-index: 4;
}

/* .second-back1 {
    background: linear-gradient(to top, rgb(26, 32, 29) 50%, rgba(41, 51, 46, 1));
    right: inherit;
    left: 25%;
} */

.image1,
.image2 {
    width: 40%;
    height: 60%;
    right: 45%;
    top: 10%;
    background: url(../../../../public/images/Home/home_ingredients.jpg) no-repeat;
    background-position: center;
    background-size: 100%;
    z-index: 6;
}

/* .image1{
    right: inherit;
    left: 45%;
} */

.description1,
.description2 {
    width: 30%;
    height: max-content;
    background-color: rgb(240, 235, 235);
    right: 22%;
    bottom: 15%;
    z-index: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* .description1 {
    right: inherit;
    left: 17%;
} */

.description-text1,
.description-text2 {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: -apple-system, Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.description-text1 p,
.description-text2 p {
    color: grey;
    line-height: 20px;
    margin-top: -2%;
}

.btn1,
.btn2 {
    width: 100px;
    padding: 10px;
    border-radius: 30px;
    background-color: #3c3e5d;
    color: white;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}

/* .btn1 {
    background: linear-gradient(to top, rgb(26, 32, 29) 50%, rgba(41, 51, 46, 1));
} */

/* End home body section */